[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"
scipy = "*"
statsmodels = "*"
scikit-learn = "*"
playsound = "*"
pingouin = "*"
emojis = "*"
statstests = "*"
ipykernel = "*"
nbformat = "*"
networkx = "*"
requests = "*"
tqdm = "*"
openpyxl = "*"
imageio = "*"
pymer4 = "*"
rpy2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
